<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Afegir una opinió</title>

    {% comment %}  Imports de Bootstrap   {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
            defer></script>
</head>

<body>
<form method="post" action="{% url 'afegir_opinio' 0 0 %}" class="text-center mt-5" id="opinioForm">
    {% csrf_token %}

    <label for="usuaris">Escull un usuari:</label>
    <select name="usuari_id" id="usuari_id">
        {% for usuari in usuaris %}
            <option value="{{ usuari.id }}">{{ usuari.username }}</option>
        {% endfor %}
    </select>

    <br>
    <br>

    <label for="plataformes">Escull una plataforma:</label>
    <select name="plataforma_id" id="plataforma_id">
        {% for plataforma in plataformes %}
            <option value="{{ plataforma.id }}">{{ plataforma.Nom }}</option>
        {% endfor %}
    </select>

    <br>
    <br>

    <label for="descripcioOpinio">Descripció opinió:</label><br>
    <input type="text" id="descripcioOpinio" name="descripcioOpinio"><br><br>
    <label for="valoracioOpinio">Valoració positiva?</label><br>
    <input type="checkbox" id="valoracioOpinio" name="valoracioOpinio"><br><br>
    <label for="opinioCensurada">Opinió censurada:</label><br>
    <input type="checkbox" id="opinioCensurada" name="opinioCensurada"><br><br>

    <input type="submit" value="Afegir opinió">
</form>
</body>

</html>

<script>
    document.getElementById("opinioForm").addEventListener("submit", function () {
        // Obtiene los valores seleccionados de los selects
        var usuari_id = document.getElementById("usuari_id").value;
        var plataforma_id = document.getElementById("plataforma_id").value;
        // Actualiza la acción del formulario con los valores seleccionados
        this.action = "/addOpinio/" + usuari_id + "/" + plataforma_id;
        // Continúa enviando el formulario
        return true;
    });
</script>