<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Afegir una plataforma</title>

    {% comment %}  Imports de Bootstrap   {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
            defer></script>
</head>

<form method="post" action="{% url 'afegir_plataforma' %}" class="text-center mt-5">
    {% csrf_token %}
    <label for="nomPlataforma">Nom plataforma:</label><br>
    <input type="text" id="nomPlataforma" name="nomPlataforma" class="text-center"><br><br>
    <label for="dataPlataforma">Data plataforma:</label><br>
    <input type="date" id="dataPlataforma" name="dataPlataforma" class="text-center"><br><br>
    <input type="submit" value="Afegir plataforma">
</form>

</html>