<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Missatge</title>

    {% comment %}  Imports de Bootstrap   {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
            defer></script>
</head>

<body>

<div class="text-center mt-5 fw-bold">
    <p> {{ missatge }}</p>
</div>

<div class="text-center mt-5">
    <button onclick="tornar()">Tornar a la pàgina anterior</button>
</div>

<script>
    function tornar() {
        {% comment %} Tornem a la pàgina anterior {% endcomment %}
        window.history.back();
    }
</script>

</body>
</html>