<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plataformes de l'usuari</title>

    {% comment %}  Imports de Bootstrap   {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
            defer></script>
</head>

<body>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-striped table-hover table-bordered">
                    <tr class="text-center">
                        <th>Id plataforma</th>
                        <th>Nom</th>
                        <th>Data</th>
                    </tr>

                {% for plataforma in plataformes %}
                    <tr class="text-center">
                        <td>{{ plataforma.id }}</td>
                        <td>{{ plataforma.Nom }}</td>
                        <td>{{ plataforma.Data }}</td>
                    </tr>
                {% endfor %}

                </table>
            </div>
        </div>
    </div>


</body>
</html>